.toolbarRoot {
  padding-right: 24px;
  justify-content: space-between;
}

.menuButton {
  margin-left: 12px;
  margin-right: 36px;
}

.menubar {
  display: flex;
  align-items: center;
}

.menuItem {
  color: white;
  margin: 0 10px;
  font-size: 1.0rem;
  text-decoration: none;
}

.connectButton {
  margin-left: 2rem;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: rgb(31, 199, 212);
  color: white;
}